USE [master]
GO
/****** Object:  Database [QuanLyNhanSu_u1]    Script Date: 11/12/2024 12:17:35 SA ******/
CREATE DATABASE [QuanLyNhanSu_u1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanSu_u1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_u1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_u1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_u1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu_u1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu_u1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapNhatLuongs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapNhatLuongs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](30) NOT NULL,
	[LuongHienTai] [int] NOT NULL,
	[LuongSauCapNhat] [int] NOT NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[BHTN] [float] NULL,
	[PhuCap] [float] NULL,
	[ThueThuNhap] [float] NULL,
	[NgayCapNhat] [datetime] NULL,
	[HeSoLuong] [float] NULL,
 CONSTRAINT [PK_CapNhatLuongs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CapNhatTrinhDoHocVans]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapNhatTrinhDoHocVans](
	[MaCapNhat] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](30) NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
	[MaTrinhDoTruoc] [varchar](30) NOT NULL,
	[MaTrinhDoCapNhat] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CapNhatTrinhDoHocVans] PRIMARY KEY CLUSTERED 
(
	[MaCapNhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLuongs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLuongs](
	[MaChiTietBangLuong] [varchar](30) NOT NULL,
	[MaNhanVien] [varchar](30) NOT NULL,
	[LuongCoBan] [float] NOT NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[BHTN] [float] NULL,
	[PhuCap] [float] NULL,
	[ThueThuNhap] [float] NULL,
	[TienThuong] [int] NULL,
	[TienPhat] [int] NULL,
	[NgayNhanLuong] [datetime] NOT NULL,
	[TongTienLuong] [varchar](30) NULL,
 CONSTRAINT [PK_ChiTietLuongs] PRIMARY KEY CLUSTERED 
(
	[MaChiTietBangLuong] ASC,
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhaps]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieu] [int] NOT NULL,
	[MaVatTu] [nvarchar](128) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSwaps]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSwaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [nvarchar](128) NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[SdtKhachHang] [nvarchar](max) NOT NULL,
	[DiaChiKH] [nvarchar](max) NOT NULL,
	[KhuVuc] [nvarchar](max) NOT NULL,
	[MaNVLenPhieu] [varchar](30) NOT NULL,
	[MaNVTrienKhai] [varchar](30) NOT NULL,
	[SdtSale] [int] NOT NULL,
	[SaleNote] [nvarchar](max) NULL,
	[PhiDichVu] [nvarchar](max) NOT NULL,
	[ThoiGianNhanCa] [datetime] NOT NULL,
	[ThoiGianHoanTat] [datetime] NULL,
	[DanhGia] [int] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietSwaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVuNhanViens]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVuNhanViens](
	[MaChucVuNV] [varchar](30) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
	[HSPC] [float] NULL,
	[MaPhongBan] [varchar](30) NULL,
 CONSTRAINT [PK_ChucVuNhanViens] PRIMARY KEY CLUSTERED 
(
	[MaChucVuNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenNganhs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganhs](
	[MaChuyenNganh] [varchar](30) NOT NULL,
	[TenChuyenNganh] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuyenNganhs] PRIMARY KEY CLUSTERED 
(
	[MaChuyenNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeSoLuong]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeSoLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[HeSo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongs](
	[MaHopDong] [varchar](30) NOT NULL,
	[LoaiHopDong] [nvarchar](50) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_HopDongs] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuongs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuongs](
	[MaNhanVien] [varchar](30) NOT NULL,
	[ThangThuong] [datetime] NOT NULL,
	[LyDo] [nvarchar](max) NULL,
	[TienThuong] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.KhenThuongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyLuats]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyLuats](
	[MaNhanVien] [varchar](30) NOT NULL,
	[LyDo] [nvarchar](max) NULL,
	[ThangKiLuat] [datetime] NOT NULL,
	[TienKyLuat] [int] NULL,
 CONSTRAINT [PK_KyLuats] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuanChuyenNhanViens]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuanChuyenNhanViens](
	[MaNhanVien] [varchar](30) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayChuyen] [datetime] NOT NULL,
	[LyDoChuyen] [nvarchar](max) NULL,
	[PhongBanChuyen] [varchar](30) NULL,
	[PhongBanDen] [varchar](30) NULL,
 CONSTRAINT [PK_LuanChuyenNhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luongs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luongs](
	[MaNhanVien] [varchar](30) NOT NULL,
	[LuongToiThieu] [int] NOT NULL,
	[HeSoLuong] [float] NULL,
	[BHXH] [float] NULL,
	[BHYT] [float] NULL,
	[BHTN] [float] NULL,
	[PhuCap] [float] NULL,
	[ThueThuNhap] [float] NULL,
 CONSTRAINT [PK_Luongs] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNhanVien] [varchar](30) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[QueQuan] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GioiTinh] [int] NULL,
	[DanToc] [nvarchar](10) NULL,
	[sdt_NhanVien] [varchar](11) NULL,
	[MaChucVuNV] [varchar](30) NULL,
	[TrangThai] [bit] NOT NULL,
	[MaPhongBan] [varchar](30) NULL,
	[MaHopDong] [varchar](30) NULL,
	[MaChuyenNganh] [varchar](30) NULL,
	[MaTrinhDoHocVan] [varchar](30) NULL,
	[CMND] [varchar](50) NULL,
	[KhuVuc] [varchar](30) NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhaps]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNVLenPhieu] [varchar](30) NOT NULL,
	[ThoiGianTaoPhieu] [datetime] NOT NULL,
	[MaNVDuyetPhieu] [varchar](30) NULL,
	[ThoiGianDuyetPhieu] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBans]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBans](
	[MaPhongBan] [varchar](30) NOT NULL,
	[TenPhongBan] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[sdt_PhongBan] [varchar](11) NULL,
 CONSTRAINT [PK_PhongBans] PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swaps]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [nvarchar](128) NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[SdtKhachHang] [nvarchar](max) NOT NULL,
	[DiaChiKH] [nvarchar](max) NOT NULL,
	[KhuVuc] [nvarchar](max) NOT NULL,
	[MaNVLenPhieu] [varchar](30) NOT NULL,
	[MaNVTrienKhai] [varchar](30) NULL,
	[SdtSale] [int] NOT NULL,
	[SaleNote] [nvarchar](max) NULL,
	[PhiDichVu] [nvarchar](max) NOT NULL,
	[NgayTaoHD] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Swaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiViecs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiViecs](
	[MaNhanVien] [varchar](30) NOT NULL,
	[Lydo] [nvarchar](max) NULL,
	[NgayThoiViec] [datetime] NOT NULL,
 CONSTRAINT [PK_ThoiViecs] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaos]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiThongBao] [varchar](30) NOT NULL,
	[MaPhieu] [int] NULL,
	[TieuDe] [nvarchar](max) NULL,
	[MaNVGuiTB] [varchar](30) NOT NULL,
	[ThoiGianGuiTB] [datetime] NOT NULL,
	[MaNVNhanTB] [varchar](30) NULL,
	[ThoiGianDuyetTB] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ThongBaos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThucTapSinhs]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucTapSinhs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaThucTapSinh] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_ThucTapSinhs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrinhDoHocVans]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDoHocVans](
	[MaTrinhDoHocVan] [varchar](30) NOT NULL,
	[TenTrinhDo] [nvarchar](max) NOT NULL,
	[HeSoBac] [float] NULL,
 CONSTRAINT [PK_TrinhDoHocVans] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDoHocVan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTuCaNhans]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTuCaNhans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](30) NOT NULL,
	[MaVatTu] [nvarchar](128) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TinhTrang] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VatTuCaNhans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTus]    Script Date: 11/12/2024 12:17:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTus](
	[MaVatTu] [nvarchar](128) NOT NULL,
	[TenVatTu] [nvarchar](max) NOT NULL,
	[SdtKhachHang] [nvarchar](max) NOT NULL,
	[DonViTinh] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VatTus] PRIMARY KEY CLUSTERED 
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CapNhatLuongs] ON 

INSERT [dbo].[CapNhatLuongs] ([id], [MaNhanVien], [LuongHienTai], [LuongSauCapNhat], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap], [NgayCapNhat], [HeSoLuong]) VALUES (10, N'nvdichvu01', 6000000, 6000000, 0.08, 0.015, 0.01, NULL, 15, CAST(N'2024-11-19T00:00:00.000' AS DateTime), 2.75)
SET IDENTITY_INSERT [dbo].[CapNhatLuongs] OFF
GO
INSERT [dbo].[ChiTietLuongs] ([MaChiTietBangLuong], [MaNhanVien], [LuongCoBan], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap], [TienThuong], [TienPhat], [NgayNhanLuong], [TongTienLuong]) VALUES (N't10n2024', N'a', 0, 480000, 90000, 60000, 1500000, 0, 0, 0, CAST(N'2024-10-31T00:00:00.000' AS DateTime), N'870000')
INSERT [dbo].[ChiTietLuongs] ([MaChiTietBangLuong], [MaNhanVien], [LuongCoBan], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap], [TienThuong], [TienPhat], [NgayNhanLuong], [TongTienLuong]) VALUES (N't10n2024', N'admin', 48000000, 480000, 90000, 60000, 3000000, 900000, 0, 0, CAST(N'2024-10-31T00:00:00.000' AS DateTime), N'49470000')
INSERT [dbo].[ChiTietLuongs] ([MaChiTietBangLuong], [MaNhanVien], [LuongCoBan], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap], [TienThuong], [TienPhat], [NgayNhanLuong], [TongTienLuong]) VALUES (N't10n2024', N'nvdichvu01', 16500000, 480000, 90000, 60000, 3000000, 900000, 0, 0, CAST(N'2024-10-31T00:00:00.000' AS DateTime), N'17970000')
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] ON 

INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [MaPhieu], [MaVatTu], [SoLuong]) VALUES (16, 15, N'AC1000CV3', 1)
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [MaPhieu], [MaVatTu], [SoLuong]) VALUES (17, 15, N'AC1200C', 2)
INSERT [dbo].[ChiTietPhieuNhaps] ([Id], [MaPhieu], [MaVatTu], [SoLuong]) VALUES (18, 16, N'ONT1PORT1G', 1)
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietSwaps] ON 

INSERT [dbo].[ChiTietSwaps] ([Id], [MaHopDong], [TenKhachHang], [SdtKhachHang], [DiaChiKH], [KhuVuc], [MaNVLenPhieu], [MaNVTrienKhai], [SdtSale], [SaleNote], [PhiDichVu], [ThoiGianNhanCa], [ThoiGianHoanTat], [DanhGia], [TrangThai]) VALUES (1, N'DNH066484', N'Nguyễn Văn Thành', N'0334659237', N'121 đường Phạm Văn Diêu, phường Tân Hạnh', N'Tân Hạnh', N'admin', N'nvkythuat01', 909956623, NULL, N'220000', CAST(N'2024-11-25T00:32:29.537' AS DateTime), CAST(N'2024-11-29T16:01:02.080' AS DateTime), NULL, 1)
INSERT [dbo].[ChiTietSwaps] ([Id], [MaHopDong], [TenKhachHang], [SdtKhachHang], [DiaChiKH], [KhuVuc], [MaNVLenPhieu], [MaNVTrienKhai], [SdtSale], [SaleNote], [PhiDichVu], [ThoiGianNhanCa], [ThoiGianHoanTat], [DanhGia], [TrangThai]) VALUES (4, N'DNH066489', N'Nguyễn Văn Thiệu', N'0334956234', N'1505/22 Đường Bùi Hữu Nghĩa, Khu Phố 2, Biên Hòa, Bình Dương, Vietnam', N'Hoa An', N'admin', N'nvkythuat01', 348513649, NULL, N'320000', CAST(N'2024-11-29T15:53:59.273' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[ChiTietSwaps] OFF
GO
INSERT [dbo].[ChucVuNhanViens] ([MaChucVuNV], [TenChucVu], [HSPC], [MaPhongBan]) VALUES (N'baove', N'Bảo vệ', 0.25, N'baove')
INSERT [dbo].[ChucVuNhanViens] ([MaChucVuNV], [TenChucVu], [HSPC], [MaPhongBan]) VALUES (N'cvdaotao', N'Chuyên viên đào tạo', 0.25, N'nhansu')
INSERT [dbo].[ChucVuNhanViens] ([MaChucVuNV], [TenChucVu], [HSPC], [MaPhongBan]) VALUES (N'cvhtkythuat', N'Chuyên viên hỗ trợ kỹ thuật', 0.25, N'kythuat')
GO
INSERT [dbo].[ChuyenNganhs] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'bmtt', N'Bảo mật Thông tin')
INSERT [dbo].[ChuyenNganhs] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'cntt', N'Công nghệ thông tin')
INSERT [dbo].[ChuyenNganhs] ([MaChuyenNganh], [TenChuyenNganh]) VALUES (N'dientu', N'Điện tử')
GO
SET IDENTITY_INSERT [dbo].[HeSoLuong] ON 

INSERT [dbo].[HeSoLuong] ([id], [title], [HeSo]) VALUES (1, N'Bậc 1: 3', 3)
INSERT [dbo].[HeSoLuong] ([id], [title], [HeSo]) VALUES (2, N'Bậc 2: 4', 4)
INSERT [dbo].[HeSoLuong] ([id], [title], [HeSo]) VALUES (3, N'Bậc 3: 5', 5)
SET IDENTITY_INSERT [dbo].[HeSoLuong] OFF
GO
INSERT [dbo].[HopDongs] ([MaHopDong], [LoaiHopDong], [NgayBatDau], [NgayKetThuc], [GhiChu]) VALUES (N'a', NULL, CAST(N'2024-11-21T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[HopDongs] ([MaHopDong], [LoaiHopDong], [NgayBatDau], [NgayKetThuc], [GhiChu]) VALUES (N'admin', NULL, CAST(N'2023-03-24T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[HopDongs] ([MaHopDong], [LoaiHopDong], [NgayBatDau], [NgayKetThuc], [GhiChu]) VALUES (N'nhanvien01', NULL, CAST(N'2023-09-23T00:00:00.000' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KhenThuongs] ON 

INSERT [dbo].[KhenThuongs] ([MaNhanVien], [ThangThuong], [LyDo], [TienThuong], [Id]) VALUES (N'nvdichvu01', CAST(N'2024-11-18T00:00:00.000' AS DateTime), N'bắt được trộm', 250000, 5)
INSERT [dbo].[KhenThuongs] ([MaNhanVien], [ThangThuong], [LyDo], [TienThuong], [Id]) VALUES (N'nvdichvu02', CAST(N'2024-11-18T00:00:00.000' AS DateTime), N'hehe', 100000, 6)
INSERT [dbo].[KhenThuongs] ([MaNhanVien], [ThangThuong], [LyDo], [TienThuong], [Id]) VALUES (N'nvdichvu01', CAST(N'2024-11-18T00:00:00.000' AS DateTime), N'vượt kpi', 350000, 7)
SET IDENTITY_INSERT [dbo].[KhenThuongs] OFF
GO
INSERT [dbo].[Luongs] ([MaNhanVien], [LuongToiThieu], [HeSoLuong], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap]) VALUES (N'a', 6000000, 0, 0.08, 0.015, 0.01, 0.25, 0)
INSERT [dbo].[Luongs] ([MaNhanVien], [LuongToiThieu], [HeSoLuong], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap]) VALUES (N'admin', 6000000, 8, 0.08, 0.015, 0.01, 0.5, 15)
INSERT [dbo].[Luongs] ([MaNhanVien], [LuongToiThieu], [HeSoLuong], [BHXH], [BHYT], [BHTN], [PhuCap], [ThueThuNhap]) VALUES (N'nvdichvu01', 6000000, 2.75, 0.08, 0.015, 0.01, 0.5, 15)
GO
INSERT [dbo].[NhanViens] ([MaNhanVien], [MatKhau], [HoTen], [NgaySinh], [QueQuan], [HinhAnh], [GioiTinh], [DanToc], [sdt_NhanVien], [MaChucVuNV], [TrangThai], [MaPhongBan], [MaHopDong], [MaChuyenNganh], [MaTrinhDoHocVan], [CMND], [KhuVuc], [Email]) VALUES (N'a', N'a', N'Lionel Messi', CAST(N'2004-06-06T00:00:00.000' AS DateTime), N'Đăklak', N'cs110023709536839282.png', 1, N'Kinh', N'0816646079', N'nvqlduan', 1, N'quanlyduan', N'a', N'tlh', N'ts', N'241911164', NULL, N'test@gmail.com')
INSERT [dbo].[NhanViens] ([MaNhanVien], [MatKhau], [HoTen], [NgaySinh], [QueQuan], [HinhAnh], [GioiTinh], [DanToc], [sdt_NhanVien], [MaChucVuNV], [TrangThai], [MaPhongBan], [MaHopDong], [MaChuyenNganh], [MaTrinhDoHocVan], [CMND], [KhuVuc], [Email]) VALUES (N'admin', N'admin', N'Trần Quang Huy', CAST(N'2002-06-20T00:00:00.000' AS DateTime), N'ĐăkLak', N'avt_admin.png', 1, N'kinh', N'0336978061', N'giamdoc', 1, N'giamdoc', N'admin', N'cntt', N'ts', N'241911168', N'Biên Hòa', N'admin@gmail.com')
INSERT [dbo].[NhanViens] ([MaNhanVien], [MatKhau], [HoTen], [NgaySinh], [QueQuan], [HinhAnh], [GioiTinh], [DanToc], [sdt_NhanVien], [MaChucVuNV], [TrangThai], [MaPhongBan], [MaHopDong], [MaChuyenNganh], [MaTrinhDoHocVan], [CMND], [KhuVuc], [Email]) VALUES (N'nvdichvu01', N'400', N'Đoàn Thiên Dự', CAST(N'2024-06-06T00:00:00.000' AS DateTime), N'92/2 đoàn thị kìa, tân đông hiệp, dĩ an, bình dương', N'cs1125646615313076.png', 1, N'kinh', N'0399194917', NULL, 1, N'dichvukhachhang', N'nvdichvu01', N'qtkd', N'dh', N'409053979', N'Biên Hòa', N'tranhuyeakar2002@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[PhieuNhaps] ON 

INSERT [dbo].[PhieuNhaps] ([Id], [MaNVLenPhieu], [ThoiGianTaoPhieu], [MaNVDuyetPhieu], [ThoiGianDuyetPhieu], [GhiChu], [TrangThai]) VALUES (15, N'nvkythuat01', CAST(N'2024-12-06T15:56:33.413' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[PhieuNhaps] ([Id], [MaNVLenPhieu], [ThoiGianTaoPhieu], [MaNVDuyetPhieu], [ThoiGianDuyetPhieu], [GhiChu], [TrangThai]) VALUES (16, N'nvkythuat01', CAST(N'2024-12-06T16:31:50.013' AS DateTime), N'admin', CAST(N'2024-12-10T22:59:52.393' AS DateTime), NULL, 1)
INSERT [dbo].[PhieuNhaps] ([Id], [MaNVLenPhieu], [ThoiGianTaoPhieu], [MaNVDuyetPhieu], [ThoiGianDuyetPhieu], [GhiChu], [TrangThai]) VALUES (17, N'nvkythuat01', CAST(N'2024-12-06T17:48:40.727' AS DateTime), N'admin', CAST(N'2024-12-10T18:51:11.103' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[PhieuNhaps] OFF
GO
INSERT [dbo].[PhongBans] ([MaPhongBan], [TenPhongBan], [DiaChi], [sdt_PhongBan]) VALUES (N'chamsockh', N'Chăm Sóc Khách Hàng', N'Phòng B, Lầu 1', N'0334659237')
INSERT [dbo].[PhongBans] ([MaPhongBan], [TenPhongBan], [DiaChi], [sdt_PhongBan]) VALUES (N'dichvukhachhang', N'Dịch Vụ Khách Hàng', N'Phòng C, Lầu 3', N'0903456789')
INSERT [dbo].[PhongBans] ([MaPhongBan], [TenPhongBan], [DiaChi], [sdt_PhongBan]) VALUES (N'giamdoc', N'Phòng giám đốc', N'Phòng 370K2', N'09793892')
GO
SET IDENTITY_INSERT [dbo].[Swaps] ON 

INSERT [dbo].[Swaps] ([Id], [MaHopDong], [TenKhachHang], [SdtKhachHang], [DiaChiKH], [KhuVuc], [MaNVLenPhieu], [MaNVTrienKhai], [SdtSale], [SaleNote], [PhiDichVu], [NgayTaoHD], [TrangThai]) VALUES (2, N'DNH066483', N'huy', N'0334956234', N'hi', N'Tân Hạnh', N'admin', N'nvkythuat02', 348513649, NULL, N'220000', CAST(N'2024-11-23T16:41:55.327' AS DateTime), 1)
INSERT [dbo].[Swaps] ([Id], [MaHopDong], [TenKhachHang], [SdtKhachHang], [DiaChiKH], [KhuVuc], [MaNVLenPhieu], [MaNVTrienKhai], [SdtSale], [SaleNote], [PhiDichVu], [NgayTaoHD], [TrangThai]) VALUES (5, N'DNH066489', N'Nguyễn Văn Thiệu', N'0334956234', N'1505/22 Đường Bùi Hữu Nghĩa, Khu Phố 2, Biên Hòa, Bình Dương, Vietnam', N'Hoa An', N'admin', N'nvkythuat01', 348513649, NULL, N'320000', CAST(N'2024-11-23T23:50:34.477' AS DateTime), 2)
INSERT [dbo].[Swaps] ([Id], [MaHopDong], [TenKhachHang], [SdtKhachHang], [DiaChiKH], [KhuVuc], [MaNVLenPhieu], [MaNVTrienKhai], [SdtSale], [SaleNote], [PhiDichVu], [NgayTaoHD], [TrangThai]) VALUES (6, N'DNH066481', N'Nguyễn Văn Thiệu', N'0334956234', N'1505/22 Đường Bùi Hữu Nghĩa, Khu Phố 2, Biên Hòa, Bình Dương, Vietnam', N'Tan Hanh', N'admin', N'nvkythuat03', 348513649, NULL, N'220000', CAST(N'2024-11-26T09:25:21.427' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Swaps] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBaos] ON 

INSERT [dbo].[ThongBaos] ([Id], [LoaiThongBao], [MaPhieu], [TieuDe], [MaNVGuiTB], [ThoiGianGuiTB], [MaNVNhanTB], [ThoiGianDuyetTB], [TrangThai]) VALUES (1, N'xuatvattu', 17, N'xuất vật tư', N'nvkythuat01', CAST(N'2024-12-07T00:00:00.000' AS DateTime), N'admin', CAST(N'2024-12-10T18:51:11.057' AS DateTime), 2)
INSERT [dbo].[ThongBaos] ([Id], [LoaiThongBao], [MaPhieu], [TieuDe], [MaNVGuiTB], [ThoiGianGuiTB], [MaNVNhanTB], [ThoiGianDuyetTB], [TrangThai]) VALUES (2, N'xuatvattu', 16, N'xuất vật tư', N'nvkythuat01', CAST(N'2024-12-08T00:00:00.000' AS DateTime), N'admin', CAST(N'2024-12-10T22:59:52.337' AS DateTime), 2)
INSERT [dbo].[ThongBaos] ([Id], [LoaiThongBao], [MaPhieu], [TieuDe], [MaNVGuiTB], [ThoiGianGuiTB], [MaNVNhanTB], [ThoiGianDuyetTB], [TrangThai]) VALUES (3, N'xuatvattu', 1, N'xuất vật tư', N'nvkythuat01', CAST(N'2024-12-08T00:00:00.000' AS DateTime), NULL, CAST(N'2024-12-10T18:24:31.880' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[ThongBaos] OFF
GO
INSERT [dbo].[TrinhDoHocVans] ([MaTrinhDoHocVan], [TenTrinhDo], [HeSoBac]) VALUES (N'cd', N'Tốt nghiệp Cao Đẳng', 2)
INSERT [dbo].[TrinhDoHocVans] ([MaTrinhDoHocVan], [TenTrinhDo], [HeSoBac]) VALUES (N'dh', N'Tốt nghiệp đại học', 2.5)
INSERT [dbo].[TrinhDoHocVans] ([MaTrinhDoHocVan], [TenTrinhDo], [HeSoBac]) VALUES (N'kbc', N'Không bằng cấp', 0)
GO
SET IDENTITY_INSERT [dbo].[VatTuCaNhans] ON 

INSERT [dbo].[VatTuCaNhans] ([Id], [MaNhanVien], [MaVatTu], [SoLuong], [TinhTrang]) VALUES (27, N'nvkythuat01', N'AX3000CV2', 10, 0)
INSERT [dbo].[VatTuCaNhans] ([Id], [MaNhanVien], [MaVatTu], [SoLuong], [TinhTrang]) VALUES (28, N'nvkythuat01', N'DAYRUT', 100, 0)
INSERT [dbo].[VatTuCaNhans] ([Id], [MaNhanVien], [MaVatTu], [SoLuong], [TinhTrang]) VALUES (29, N'nvkythuat01', N'ONT1PORT1G', 11, 0)
SET IDENTITY_INSERT [dbo].[VatTuCaNhans] OFF
GO
INSERT [dbo].[VatTus] ([MaVatTu], [TenVatTu], [SdtKhachHang], [DonViTinh], [SoLuong], [TrangThai]) VALUES (N'AC1000CV2', N'Internet Hub AC1000CV2', N'0336978076', N'Bộ', 88, 1)
INSERT [dbo].[VatTus] ([MaVatTu], [TenVatTu], [SdtKhachHang], [DonViTinh], [SoLuong], [TrangThai]) VALUES (N'AC1000CV3', N'Internet Hub AC1000CV3', N'0336978074', N'Bộ', 77, 1)
INSERT [dbo].[VatTus] ([MaVatTu], [TenVatTu], [SdtKhachHang], [DonViTinh], [SoLuong], [TrangThai]) VALUES (N'AC1000F', N'Internet Hub AC1000F', N'0336978069', N'Bộ', 99, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Id]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaPhieu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaPhieu] ON [dbo].[ChiTietPhieuNhaps]
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaVatTu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaVatTu] ON [dbo].[ChiTietPhieuNhaps]
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVDuyetPhieu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVDuyetPhieu] ON [dbo].[PhieuNhaps]
(
	[MaNVDuyetPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVLenPhieu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVLenPhieu] ON [dbo].[PhieuNhaps]
(
	[MaNVLenPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVLenPhieu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVLenPhieu] ON [dbo].[Swaps]
(
	[MaNVLenPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVTrienKhai]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVTrienKhai] ON [dbo].[Swaps]
(
	[MaNVTrienKhai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVGuiTB]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVGuiTB] ON [dbo].[ThongBaos]
(
	[MaNVGuiTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNVNhanTB]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNVNhanTB] ON [dbo].[ThongBaos]
(
	[MaNVNhanTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNhanVien]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaNhanVien] ON [dbo].[VatTuCaNhans]
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaVatTu]    Script Date: 11/12/2024 12:17:36 SA ******/
CREATE NONCLUSTERED INDEX [IX_MaVatTu] ON [dbo].[VatTuCaNhans]
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NhanViens] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CapNhatLuongs]  WITH CHECK ADD  CONSTRAINT [FK_CapNhatLuong_Luong] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[Luongs] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CapNhatLuongs] CHECK CONSTRAINT [FK_CapNhatLuong_Luong]
GO
ALTER TABLE [dbo].[CapNhatTrinhDoHocVans]  WITH CHECK ADD  CONSTRAINT [FK_CapNhatTrinhDoHocVan_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CapNhatTrinhDoHocVans] CHECK CONSTRAINT [FK_CapNhatTrinhDoHocVan_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietLuongs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietLuong_Luong] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[Luongs] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietLuongs] CHECK CONSTRAINT [FK_ChiTietLuong_Luong]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.PhieuNhaps_MaPhieu] FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuNhaps] ([Id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.PhieuNhaps_MaPhieu]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.VatTus_MaVatTu] FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[VatTus] ([MaVatTu])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhaps] CHECK CONSTRAINT [FK_dbo.ChiTietPhieuNhaps_dbo.VatTus_MaVatTu]
GO
ALTER TABLE [dbo].[KhenThuongs]  WITH CHECK ADD  CONSTRAINT [FK__Thuong__MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhenThuongs] CHECK CONSTRAINT [FK__Thuong__MaNhanVien]
GO
ALTER TABLE [dbo].[KyLuats]  WITH CHECK ADD  CONSTRAINT [FK_KyLuat_KyLuat] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KyLuats] CHECK CONSTRAINT [FK_KyLuat_KyLuat]
GO
ALTER TABLE [dbo].[LuanChuyenNhanViens]  WITH CHECK ADD  CONSTRAINT [FK__LuanChuyen__MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuanChuyenNhanViens] CHECK CONSTRAINT [FK__LuanChuyen__MaNhanVien]
GO
ALTER TABLE [dbo].[Luongs]  WITH CHECK ADD  CONSTRAINT [FK_Luong_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Luongs] CHECK CONSTRAINT [FK_Luong_NhanVien]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MaChuyenNganh] FOREIGN KEY([MaChuyenNganh])
REFERENCES [dbo].[ChuyenNganhs] ([MaChuyenNganh])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK__NhanVien__MaChuyenNganh]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MaHopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDongs] ([MaHopDong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK__NhanVien__MaHopDong]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MaPhongBan] FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBans] ([MaPhongBan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK__NhanVien__MaPhongBan]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVuNhanVien] FOREIGN KEY([MaChucVuNV])
REFERENCES [dbo].[ChucVuNhanViens] ([MaChucVuNV])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanVien_ChucVuNhanVien]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TrinhDoHocVan] FOREIGN KEY([MaTrinhDoHocVan])
REFERENCES [dbo].[TrinhDoHocVans] ([MaTrinhDoHocVan])
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanVien_TrinhDoHocVan]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_MaNVDuyetPhieu] FOREIGN KEY([MaNVDuyetPhieu])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_MaNVDuyetPhieu]
GO
ALTER TABLE [dbo].[PhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_MaNVLenPhieu] FOREIGN KEY([MaNVLenPhieu])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhaps] CHECK CONSTRAINT [FK_dbo.PhieuNhaps_dbo.NhanViens_MaNVLenPhieu]
GO
ALTER TABLE [dbo].[Swaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Swaps_dbo.NhanViens_MaNVLenPhieu] FOREIGN KEY([MaNVLenPhieu])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Swaps] CHECK CONSTRAINT [FK_dbo.Swaps_dbo.NhanViens_MaNVLenPhieu]
GO
ALTER TABLE [dbo].[Swaps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Swaps_dbo.NhanViens_MaNVTrienKhai] FOREIGN KEY([MaNVTrienKhai])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Swaps] CHECK CONSTRAINT [FK_dbo.Swaps_dbo.NhanViens_MaNVTrienKhai]
GO
ALTER TABLE [dbo].[ThoiViecs]  WITH CHECK ADD  CONSTRAINT [FK__ThoiViec__MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThoiViecs] CHECK CONSTRAINT [FK__ThoiViec__MaNhanVien]
GO
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThongBaos_dbo.NhanViens_MaNVGuiTB] FOREIGN KEY([MaNVGuiTB])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_dbo.ThongBaos_dbo.NhanViens_MaNVGuiTB]
GO
ALTER TABLE [dbo].[ThongBaos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThongBaos_dbo.NhanViens_MaNVNhanTB] FOREIGN KEY([MaNVNhanTB])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ThongBaos] CHECK CONSTRAINT [FK_dbo.ThongBaos_dbo.NhanViens_MaNVNhanTB]
GO
ALTER TABLE [dbo].[VatTuCaNhans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VatTuCaNhans_dbo.NhanViens_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanViens] ([MaNhanVien])
GO
ALTER TABLE [dbo].[VatTuCaNhans] CHECK CONSTRAINT [FK_dbo.VatTuCaNhans_dbo.NhanViens_MaNhanVien]
GO
ALTER TABLE [dbo].[VatTuCaNhans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VatTuCaNhans_dbo.VatTus_MaVatTu] FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[VatTus] ([MaVatTu])
GO
ALTER TABLE [dbo].[VatTuCaNhans] CHECK CONSTRAINT [FK_dbo.VatTuCaNhans_dbo.VatTus_MaVatTu]
GO
USE [master]
GO
