@{
    ViewBag.Title = "Trang chủ";
}

<!-- #content -->
<main>
    <div id="content" class="">

        <div class="component fpt-container">
            <div class="component-content">
                <div class="component main-slider-banner-offer">
                    <div class="component-content">
                        <div class="main-slider-content" style="background-color:aliceblue"> 
                            <div class="banner-slider-content-container container-grid-10 p-l-0-lg p-r-0-lg ">
                                <div class="banner-slider-offer-button">
                                    <div class="slick-btn-prev slick-arrow" aria-disabled="true">
                                    </div>
                                    <div class="slick-btn-next slick-arrow" aria-disabled="true">
                                    </div>
                                </div>
                                <div class="slider slider-content p-x-20">
                                    <div class="item">
                                        <div class="slick-item-container d-flex flex-column">
                                            <div class="slick-item__image">
                                                <a href="vi/tin-tuc/tin-fpt/fpt-nhan-giai-thuong-cua-dien-dan-phap-ngu.html">
                                                    <picture class="lazyload">
                                                        <source media="(min-width: 1025px)" data-srcset="Content/anh/banner1.jpg">
                                                        <source media="(min-width: 768px) and (max-width: 1024px)" data-srcset="anh/banner1.jpg">
                                                        <source media="(max-width: 767px)" data-srcset="anh/banner1.jpg">
                                                        <img data-src="anh/banner1.jpg" alt="slider">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="slick-item__content p-l-20-lg p-r-20-lg">
                                                <div class="slick-item__content-container d-flex flex-column justify-content-between">
                                                    <div class="slick-item__content-top">
                                                        <h2 class="fpt-h2 strim-line-3 m-b-20">FPT LIVE QUÀ BAY VỀ NHÀ</h2>
                                                        <div class="strim-line-9">
                                                            Vào lúc 20h00 ngày 8/10/2024, FPT Telecom sẽ chính thức tổ chức buổi livestream đầu tiên trên nền tảng TikTok, hứa hẹn mang đến cho người xem những ưu đãi chưa từng có cùng hàng loạt quà tặng hấp dẫn.
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="fpt-btn" href="https://fpt.vn/vi/tin-fpt/san-deal-internet-va-camera-mien-phi-don-xem-livetream-tiktok-dau-tien-cua-fpt-telecom--9897.html" target="_blank">
                                                            XEM TH&#202;M
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slick-item-container d-flex flex-column">
                                            <div class="slick-item__image">
                                                <a href="vi/tin-tuc/tin-fpt/fpt-tham-gia-su-kien-francotech.html">
                                                    <picture class="lazyload">
                                                        <source media="(min-width: 1025px)" data-srcset="Content/anh/banner2.jpg">
                                                        <source media="(min-width: 768px) and (max-width: 1024px)" data-srcset="anh/banner2.jpg">
                                                        <source media="(max-width: 767px)" data-srcset="anh/banner2.jpg">
                                                        <img data-src="anh/banner2.jpg" alt="slider">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="slick-item__content p-l-20-lg p-r-20-lg">
                                                <div class="slick-item__content-container d-flex flex-column justify-content-between">
                                                    <div class="slick-item__content-top">
                                                        <h2 class="fpt-h2 strim-line-3 m-b-20">Số 1 CLOUD CAMERA TẠI VIỆT NAM</h2>
                                                        <div class="strim-line-9">
                                                            Trong một thế giới ngày càng phát triển về công nghệ, camera giám sát là một trong những thiết bị quan trọng nhất để bảo vệ tài sản, giám sát hoạt động của doanh nghiệp và đảm bảo an toàn cho gia đình. Với sự ra đời của Camera AI, việc giám sát đã trở nên dễ dàng và tiên tiến hơn bao giờ hết.
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="fpt-btn" href="https://fptcameraiq.vn/camera-ai" target="_blank">
                                                            XEM TH&#202;M
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slick-item-container d-flex flex-column">
                                            <div class="slick-item__image">
                                                <a href="vi/tin-tuc/tin-fpt/fpt-doanh-nghiep-dong-gop-lon-vao-thuong-hieu-quoc-gia.html">
                                                    <picture class="lazyload">
                                                        <source media="(min-width: 1025px)" data-srcset="Content/anh/banner3.jpg">
                                                        <source media="(min-width: 768px) and (max-width: 1024px)" data-srcset="anh/banner3.jpg">
                                                        <source media="(max-width: 767px)" data-srcset="anh/banner3.jpg">
                                                        <img data-src="anh/banner3.jpg" alt="slider">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="slick-item__content p-l-20-lg p-r-20-lg">
                                                <div class="slick-item__content-container d-flex flex-column justify-content-between">
                                                    <div class="slick-item__content-top">
                                                        <h2 class="fpt-h2 strim-line-3 m-b-20">GIAO HỮU : VIỆT NAM - ẤN ĐỘ</h2>
                                                        <div class="strim-line-9">
                                                            Ngày 5/10, theo thông tin từ Liên đoàn Bóng đá Việt Nam, Huấn luyện viên Kim Sang Sik đã triệu tập 27 cầu thủ và tập luyện nhằm chuẩn bị cho trận giao hữu quốc tế gặp đội tuyển Ấn Độ dịp FIFA Days tháng 10/2024.
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="fpt-btn" href="https://baotintuc.vn/bong-da/doi-tuyen-viet-nam-se-thi-dau-giao-huu-voi-an-do-dip-fifa-days-thang-102024-20241005191454867.htm" target="_blank">
                                                            XEM TH&#202;M
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="slick-item-container d-flex flex-column">
                                            <div class="slick-item__image">
                                                <a href="vi/tin-tuc/tin-fpt/fpt-hop-tac-voi-doi-tac-ireland-thuc-day-dao-tao-nhan-luc-va-ung-dung-ai.html">
                                                    <picture class="lazyload">
                                                        <source media="(min-width: 1025px)" data-srcset="Content/anh/banner4.jpg">
                                                        <source media="(min-width: 768px) and (max-width: 1024px)" data-srcset="anh/banner4.jpg">
                                                        <source media="(max-width: 767px)" data-srcset="anh/banner4.jpg">
                                                        <img data-src="anh/banner4.jpg" alt="slider">
                                                    </picture>
                                                </a>
                                            </div>
                                            <div class="slick-item__content p-l-20-lg p-r-20-lg">
                                                <div class="slick-item__content-container d-flex flex-column justify-content-between">
                                                    <div class="slick-item__content-top">
                                                        <h2 class="fpt-h2 strim-line-3 m-b-20">TRI ÂN KHÁCH HÀNG, MIỄN PHÍ VẠN WIFI 6</h2>
                                                        <div class="strim-line-9">
                                                            Từ 15/07, FPT Telecom chính thức cung cấp FPT Wi-Fi 6 trên toàn quốc. Đây là sự kiện đánh dấu cột mốc tất cả khách hàng đều có thể tiếp cận công nghệ internet hiện đại hàng đầu, trải nghiệm tốc độ mạng nhanh vượt bậc, độ phủ sóng không giới hạn, xuyên tường, hỗ trợ đáp ứng mọi nhu cầu sử dụng cá nhân, gia đình hay doanh nghiệp.
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a class="fpt-btn" href="https://fpt.vn/vi/tin-fpt/fpt-wi-fi-6-chinh-thuc-mo-ban-rong-rai-tren-toan-quoc--9808.html" target="_blank">
                                                            XEM TH&#202;M
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="component fpt-container m-t-50-mb m-t-90">
            <div class="component-content">
                <div class="component our-mission">
                    <div class="component-content">
                        <div class="our-mission__top container-grid-10">
                            <div class="component-content">
                                <div class="row">
                                    <div class="our-mission__top-intro col-xl-4 col-sm-12">
                                        <h2 class="fpt-h2-home field-name">Tầm nh&#236;n chiến lược</h2><p class="fpt-p-home-content">FPT tiếp tục theo đuổi mục tiêu lớn dài hạn trở thành doanh nghiệp số và đứng trong Top 50 Công ty hàng đầu thế giới về cung cấp dịch vụ, giải pháp chuyển đổi số toàn diện vào năm 2030. Để đạt được mục tiêu này, FPT xây dựng các chương trình hành động cân bằng, toàn diện ở cả ba khía cạnh.</p>
                                        <a rel="noopener noreferrer" target="_blank" href="https://fpt.com.vn/vi/ve-fpt/tam-nhin-chien-luoc" class="see-more-text">Xem thêm</a>
                                    </div><div class="our-mission__top-detail col-xl-8 col-sm-12">
                                        <div class="our-mission__top-detail-items">
                                            <div class="our-mission__top-detail-items__item">
                                                <img class="lazyload" src="~/Content/anh/icon/kinh-doanh.svg" alt="kinh-doanh">
                                                <h3 class="fpt-h3-home">Kinh doanh</h3>
                                                <p class="fpt-p-home-content">Ch&#250;ng t&#244;i đầu tư, nghi&#234;n cứu ph&#225;t triển c&#225;c dịch vụ, giải ph&#225;p chuyển đổi số to&#224;n diện đ&#225;p ứng nhu cầu của kh&#225;ch h&#224;ng ở mọi quy m&#244;, lĩnh vực.</p>
                                            </div> <div class="our-mission__top-detail-items__item">
                                                <img class="lazyload" src="~/Content/anh/icon/cong-nghe.svg" alt="cong-nghe">
                                                <h3 class="fpt-h3-home">C&#244;ng nghệ</h3>
                                                <p class="fpt-p-home-content">Ch&#250;ng t&#244;i lu&#244;n tiếp cận những xu hướng c&#244;ng nghệ mới nhất để ph&#225;t triển c&#225;c nền tảng, c&#244;ng nghệ l&#245;i v&#224; gia tăng trải nghiệm kh&#225;ch h&#224;ng, hiệu quả vận h&#224;nh.</p>
                                            </div> <div class="our-mission__top-detail-items__item">
                                                <img class="lazyload" src="~/Content/anh/icon/con-nguoi.svg" alt="con-nguoi">
                                                <h3 class="fpt-h3-home">Con người</h3>
                                                <p class="fpt-p-home-content">Ch&#250;ng t&#244;i cam kết x&#226;y dựng một m&#244;i trường l&#224;m việc c&#244;ng bằng, minh bạch, kh&#244;ng ph&#226;n biệt đối xử.</p>
                                            </div>
                                        </div>
                                    </div><div class="our-mission__top-detail-mobie col-12">
                                        <a class="item-" href="#">
                                            <img class="lazyload" data-src="/Content/-/media/project/fpt-corporation/fpt/home/our-mission/operative/kinh-doanh.svg" alt="kinh-doanh">
                                            <div style="font-size:16px; font-weight:600;  line-height:20px;">Kinh doanh</div>
                                        </a><a class="item-" href="#">
                                            <img class="lazyload" data-src="/Content/-/media/project/fpt-corporation/fpt/home/our-mission/forceful/cong-nghe.svg" alt="cong-nghe">
                                            <div style="font-size:16px; font-weight:600;  line-height:20px;">C&#244;ng nghệ</div>
                                        </a><a class="item-" href="#">
                                            <img class="lazyload" data-src="/Content/-/media/project/fpt-corporation/fpt/home/our-mission/proficient/con-nguoi.svg" alt="con-nguoi">
                                            <div style="font-size:16px; font-weight:600;  line-height:20px;">Con người</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-mission__bottom m-t-40-mb m-t-30-elg" style="margin-top:250px">
                            <div class="container-grid-10">
                                <div class="d-flex flex-wrap">
                                    <div class="our-mission__bottom__left">
                                        <picture class="lazyload">
                                            <img src="~/Content/anh/img_index/made_by_fpt.png" alt="FPTFFF7EF2x">
                                        </picture>
                                    </div><div class="our-mission__bottom__right">
                                        <div class="our-mission__bottom__right-wrap fpt-modal-wrap">
                                            <h2 class="fpt-h2-home">Made by FPT<br /></h2>
                                            <p class="fpt-p-home-content">Dựa trên những công nghệ mới nhất, hệ sinh thái Made by FPT giúp doanh nghiệp, tổ chức trong mọi lĩnh vực đẩy nhanh quá trình chuyển đổi số, gia tăng năng suất, tiết kiệm chi phí, tận dụng tối đa nguồn lực để vượt qua các thách thức.</p>
                                            <span class="our-mission__play-btn">
                                                <a href="#" class="fpt-btn fpt-modal__open-modal">Xem video<span>
                                                    <img style="width:30px" src="~/Content/anh/icon/play.png" />
                                                        </span></a>
                                            </span>
                                            <div class="our-mission-popup fpt-modal">
                                                <div class="fpt-modal__content btn-close-top">
                                                    <iframe class="fpt-modal__content_iframe" width="560" height="315" controls data-src="https://www.youtube.com/embed/DhsXMOPt7OA?list=PLX675TEETlQaDiNWDfxGM0qVG3D1XoVQX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                                    <button class="fpt-modal__btn-close"><span class="icon-close"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="component fpt-container m-t-50-lg m-t-90 p-b-0-mb">
            <div class="component-content">
                <div class="component fpt-container container-grid-10">
                    <div class="component-content">

                        <div class="component our-business" style="align-content:center">
                            <div class="component-content">
                                <div class="block-our-business">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-12 col-xs-12">
                                            <div class="block-our-business-title">Hệ sinh th&#225;i FPT</div>
                                            <span class="block-our-business-desc-title">
                                                FPT luôn khẳng định vị thế tiên phong trong các lĩnh vực Công nghệ, Viễn thông và Giáo dục. Đón đầu xu hướng công nghệ, thị trường, FPT tạo dựng Hệ sinh thái những dịch vụ, sản phẩm, giải pháp, nền tảng Made by FPT thúc đẩy sự phát triển, tăng trưởng bền vững của các tổ chức, doanh nghiệp cũng như mang đến những trải nghiệm mới, khác biệt cho người dùng.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="items">

                                        <div class="item">
                                            <div class="inner-item">
                                                <div class="our-business-image">
                                                    <div title="our-business">
                                                        <picture class="lazyload">
                                                            <img src="~/Content/anh/img_index/cong_nghe.png" alt="aaa">
                                                        </picture>

                                                    </div>
                                                </div>
                                                <div class="our-business-info">
                                                    <div class="our-business-info-inner">
                                                        <h2 class="our-business-item-title">C&#244;ng nghệ</h2>
                                                        <div class="our-business-item-desc">
                                                            FPT l&#224; đối t&#225;c chiến lược quan trọng về tư vấn, đ&#224;o tạo, triển khai chuyển đổi số của c&#225;c tập đo&#224;n, tổ chức h&#224;ng đầu tr&#234;n thế giới v&#224; tại Việt Nam trong nhiều lĩnh vực.
                                                        </div>
                                                        <a href="vi/he-sinh-thai-fpt/cong-nghe.html" target="_blank" class="see-more-text">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="inner-item">
                                                <div class="our-business-image">
                                                    <div title="our-business">
                                                        <picture class="lazyload">
                                                            <img src="~/Content/anh/img_index/vien_thong.png" alt="aaa">
                                                        </picture>

                                                    </div>
                                                </div>
                                                <div class="our-business-info">
                                                    <div class="our-business-info-inner">
                                                        <h2 class="our-business-item-title">Viễn th&#244;ng</h2>
                                                        <div class="our-business-item-desc">
                                                            Ch&#250;ng t&#244;i kh&#244;ng ngừng đầu tư, triển khai v&#224; t&#237;ch hợp ng&#224;y c&#224;ng nhiều c&#225;c dịch vụ gi&#225; trị gia tăng tr&#234;n c&#249;ng một đường truyền Internet v&#224; kiến tạo hệ sinh th&#225;i truyền th&#244;ng số.
                                                        </div>
                                                        <a href="vi/he-sinh-thai-fpt/vien-thong.html" target="_blank" class="see-more-text">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="inner-item">
                                                <div class="our-business-image">
                                                    <div title="our-business">
                                                        <picture class="lazyload">
                                                            <img src="~/Content/anh/img_index/giao_duc.png" alt="aaa">
                                                        </picture>

                                                    </div>
                                                </div>
                                                <div class="our-business-info">
                                                    <div class="our-business-info-inner">
                                                        <h2 class="our-business-item-title">Gi&#225;o dục</h2>
                                                        <div class="our-business-item-desc">
                                                            L&#224; thương hiệu gi&#225;o dục c&#243; tầm ảnh hưởng quốc tế, Tổ chức Gi&#225;o dục FPT đ&#227; mở rộng đầy đủ c&#225;c cấp học g&#243;p phần cung cấp nguồn nh&#226;n lực chất lượng cao cho thị trường.
                                                        </div>
                                                        <a href="vi/he-sinh-thai-fpt/giao-duc.html" target="_blank" class="see-more-text">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="inner-item">
                                                <div class="our-business-image">
                                                    <div title="our-business">
                                                        <picture class="lazyload">
                                                            <img src="~/Content/anh/img_index/cong_ty_tv.png" alt="aaa">
                                                        </picture>

                                                    </div>
                                                </div>
                                                <div class="our-business-info">
                                                    <div class="our-business-info-inner">
                                                        <h2 class="our-business-item-title">C&#244;ng ty th&#224;nh vi&#234;n</h2>
                                                        <div class="our-business-item-desc">
                                                            C&#244;ng ty th&#224;nh vi&#234;n với c&#225;c lĩnh vực kinh doanh đặc trưng l&#224; th&#224;nh tố quan trọng cấu th&#224;nh hệ sinh th&#225;i FPT, khẳng định sức mạnh tổng thể của FPT.
                                                        </div>
                                                        <a href="vi/he-sinh-thai-fpt/cong-ty-thanh-vien.html" target="_blank" class="see-more-text">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="component fpt-container">
            <div class="component-content">
                <div class="component two-cols-text-with-image sustainable-development-wrapper">
                    <div class="component-content">
                        <div class="sustainable-development-content-wrapper">
                            <div class="container-grid-10">
                                <div class="sustainable-development">
                                    <div class="sustainable-left-content">
                                        <h2 class="title">Phát triển bền vững</h2>
                                        <div class="text-content">
                                            Định hướng v&agrave; những ưu ti&ecirc;n về ESG được xem l&agrave; một phần quan trọng trong chiến lược ph&aacute;t triển của FPT v&agrave; phản &aacute;nh vai tr&ograve;, tr&aacute;ch nhiệm của Tập đo&agrave;n với c&aacute;c b&ecirc;n li&ecirc;n quan trọng yếu. Đồng thời, ESG tạo th&ecirc;m sức mạnh để FPT ph&aacute;t huy gi&aacute; trị cốt l&otilde;i tiếp tục thực hiện sứ mệnh Tập đo&agrave;n to&agrave;n cầu trường tồn v&agrave; hạnh ph&uacute;c.
                                        </div>

                                        <a href="vi/ve-fpt/trach-nhiem-xa-hoi.html" class="see-more-text"
                                           target="">XEM TH&#202;M</a>


                                    </div>
                                    <div class="sustainable-right-content">
                                        <img src="~/Content/anh/img_index/phat_trien_ben_vung.png" alt="aaa" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="component fpt-container m-b-30-mb m-t-20" style="margin-bottom:150px">
            <div class="component-content">
                <div class="component fpt-container container-grid-10">
                    <div class="component-content">
                        <div class="component list-items-section list-items-section-image-join-width-us">
                            <div class="component-content">
                                <div class="block-join-width-us">
                                    <div class="row row-20">
                                        <div class="col-lg-9 col-md-12">
                                            <div class="info-left"><h2 class="title-info-left field-title-info-left">Tham gia c&#249;ng ch&#250;ng t&#244;i</h2><span class="sub-title-info-left field-sub-title-info-left">C&#249;ng đồng h&#224;nh kiến tạo tương lai.</span></div><div class="image-left">
                                                <picture class="lazyload">
                                                    <img src="~/Content/anh/img_index/tham_gia_cung_chung_toi.png" alt="aaa">
                                                </picture>

                                            </div>
                                        </div><div class="col-lg-3 col-md-12 block-right">
                                            <div class="image-right">
                                                <picture class="lazyload">
                                                    <img src="~/Content/anh/img_index/dong_hanh_cung_chung_toi.png" alt="aaa">
                                                </picture>

                                            </div><div class="info-right">
                                                <div class="title-info-right field-title-info-right">Đồng h&#224;nh c&#249;ng FPT?</div><span class="desc-info-right field-desc-info-right">Dù là sinh viên mới ra trường hay ứng viên đã có kinh nghiệm, chúng tôi luôn sẵn sàng tạo điều kiện để bạn phát triển tài năng toàn diện nhất. Hãy tìm hiểu thêm về các ngành nghề và cơ hội việc làm tại FPT.</span>
                                                <a href="vi/co-hoi-nghe-nghiep.html" target="" class="btn-learn-more">
                                                    <span>Xem th&#234;m</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /#content -->
