 
.editProfile {
    margin: 0px;
    padding-top: 20px;
    color: #2e323c;
    background: #fff8ef;
    position: relative;
    height: 100%;
    font-weight:bold;
    z-index:1;
}
.card {
    background: #ffffff;
    height: 450px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

        .account-settings .user-profile .user-avatar img {
            margin-top: 20px;
            width: 160px;
            height: 160px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
        font-size : 20px;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        color: #9fa8b9;
    }

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

.form-control {
    margin: 0px;
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 16px;
    background: #ffffff;
    color: #2e323c;
}
.form-group{
    font-size:17px;
}
.btn {
    background-color: #3292ff;
    color: white;
    border: 1px solid;
    border-radius: 12px;
}
.edit_avt {
    position: absolute; /* Đặt thẻ i ở vị trí tuyệt đối so với container */
    margin-top:155px;
    margin-left:-40px;
    background-color:white;
    color: blue; /* Màu sắc tùy chọn */
    font-size: 24px; /* Kích thước biểu tượng */
    cursor:pointer;
}
.edit_name {
    position: absolute; /* Đặt thẻ i ở vị trí tuyệt đối so với container */
    margin-left:80px;
    margin-top:-27px;
    cursor: pointer;
}
.user-name-display {
    width: 200px; /* Đặt chiều rộng cố định */
    white-space: nowrap; /* Không cho nội dung xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều rộng */
    text-overflow: ellipsis; /* Thêm dấu "..." nếu nội dung bị ẩn */
}