body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../anh/bg_login_main.png'); /* Replace with your actual background image path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    background-image: url("bg_login_main.png");
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 400px;
}

.info-section {
    max-width: 50%;
}

    .info-section h1 {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 1.4;
    }

    .info-section p {
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    .info-section a {
        display: inline-block;
        background: #fc7321;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 4px;
    }

.login-section {
    width: 400px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.1); /* 10% transparent */
    border-radius: 8px;
    padding: 20px;
    border: 5px solid white;
    color: white;
    text-align: center;
}

    .login-section h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .login-section input[type="text"],
    .login-section input[type="password"] {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: rgba(245, 241, 241, 0.5); /* 20% transparent */
    }

    .login-section button {
        width: 50%;
        padding: 10px;
        background: #fc7321;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .login-section button:hover {
            background: darkorange;
        }

    .login-section a {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        color: gray;
        text-decoration: none;
    }

        .login-section a:hover {
            text-decoration: underline;
        }
/* ////////////////////////////////// */
.password-container {
    position: relative;
    margin: 10px 0;
}

.password-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
    font-size: 18px;
}
