
@{
    Layout = null;


}

<!DOCTYPE html>
<html class="no-js" lang="vi-VN">


<!-- Mirrored from fpt.com/vi by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Oct 2024 14:56:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>

    <link rel="preload" as="style" href="Content/-/media/Themes/Wireframe/sass/base/fonts/fonts.scss">
    <link rel="preload" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://www.googletagmanager.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="Content/-/media/themes/fpt-corporation/fpt/component-themes/cr/styles/pre-optimized-mina18a.css?t=" rel="stylesheet" />
    <link href="Content/-/media/feature/experience-accelerator/bootstrap-4/bootstrap-4/styles/optimized-minf5f7.css?t=20211220T133431Z" rel="stylesheet" />
    <link href="Content/-/media/base-themes/core-libraries/styles/optimized-min3f37.css?t=20241007T080052Z" rel="stylesheet" />
    <link href="Content/-/media/base-themes/main-theme/styles/optimized-mind13f.css?t=20240418T214620Z" rel="stylesheet" />
    <link href="Content/-/media/themes/fpt-corporation/fpt/fptweb/styles/pre-optimized-minc050.css?t=20230905T150303Z" rel="stylesheet" />
    <link rel="stylesheet" href="Content/-/media/themes/fpt-corporation/fpt/fptweb-base/styles/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/styles/slick.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/login_index.css">
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/cr/scripts/optimized-min51e3.js?t=20240504T193950Z"></script>
    <script defer src="Content/-/media/base-themes/core-libraries/scripts/optimized-min3f37.js?t=20241007T080052Z"></script>
    <script defer src="Content/-/media/base-themes/xa-api/scripts/optimized-min99b1.js?t=20240703T201452Z"></script>
    <script defer src="Content/-/media/base-themes/main-theme/scripts/optimized-mind13f.js?t=20240418T214620Z"></script>
    <script defer src="Content/-/media/base-themes/components-theme/scripts/optimized-minf986.js?t=20231106T151444Z"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/fptweb/scripts/optimized-min8e51.js?t=20231107T030925Z"></script>

    <title>FPT Telecom</title>
    <link rel="canonical" href="vi.html" />
    <link href="~/Content/anh/fpt-logo.svg" rel="shortcut icon" />

    <meta property="og:description" content="FPT là một trong những công ty dịch vụ công nghệ thông tin lớn nhất tại Việt Nam với lĩnh vực kinh doanh chính là cung cấp các sản phẩm dịch vụ công nghệ thông tin" />
    <meta property="og:image" content="https://fpt.com/Content/-/media/project/fpt-corporation/fpt/common/images/navigation/logo/fpt-logo-open-graph.png" />
    <meta property="og:title" content="Tập đoàn FPT" />
    <meta property="og:url" content="https://fpt.com/vi" />
    <meta name="description" content="FPT là một trong những công ty dịch vụ công nghệ thông tin lớn nhất tại Việt Nam với lĩnh vực kinh doanh chính là cung cấp các sản phẩm dịch vụ công nghệ thông tin" />
    <meta property="twitter:title" content="Home" />
    <meta property="twitter:card" content="summary_large_image" />

    <script type="application/ld+json">
        {
         "@@context": "http://schema.org",
         "@@type": "WebSite",
         "name": "Tập đoàn FPT",
         "alternateName": "FPT Corporation",
         "url": "https://fpt.com/",
         "potentialAction": {
                        "@@type": "SearchAction",
                        "target": "https://fpt.com/search?q={search_term_string}",
                        "query-input": "required name=search_term_string"
                        }
        }
    </script>

    <script type="application/ld+json">

        {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        "name": "Tập đoàn FPT",
        "url": "https://fpt.com/",
        "logo": "~/Content/anh/fpt-logo.svg",
         "foundingDate": "1988",
        "founders":
        [{
             "@@type": "Person", "name": "Trương Gia Bình"
                },
        {
            "@@type": "Person", "name": "Bùi Quang Ngọc"
                },
        {
            "@@type": "Person", "name": "Đỗ Cao Bảo"
                }],
        "address":
        [{
        "@@type": "PostalAddress",
         "streetAddress": "10 P. Phạm Văn Bạch, Dịch Vọng, Cầu Giấy",
         "addressLocality": "Hà Nội City",
         "addressRegion": "Northeast",
         "postalCode": "100000",
         "addressCountry": "VNM"
           },
        {
          "@@type": "PostalAddress",
         "streetAddress": "khu chế xuất Tân Thuận, 29B-31B-33B Tân Thuận, Tân Thuận Đông, Quận 7",
         "addressLocality": "Hồ Chí Minh City",
         "addressRegion": "Southeast",
         "postalCode": "70000",
         "addressCountry": "VNM"
         }],
         "contactPoint":
        [{
        "@@type": "ContactPoint",
         "telephone": "+84 24 7300 7300",
         "contactType": "customer service"
          }],
         "sameAs": [ "https://www.facebook.com/fptcorp/",
         "https://www.linkedin.com/company/fpt-corporation/",
         "https://www.youtube.com/c/FPTCorporation",
         "https://vi.wikipedia.org/wiki/Tập_đoàn_FPT",
         "https://www.google.com/search?q=search+query&amp;kponly=&amp;kgmid=/m%2F05c278h",
         "https://www.tiktok.com/@@fptchungta"]
        }
    </script>
    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@id": "https://fpt.com/#webpage",
                "@@type": "WebPage",
                "url": "https://fpt.com/",
                "name": "FPT"
        }
    </script>
    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@id": "https://fpt.com/#website",
                "@@type": "WebSite",
                "url": "https://fpt.com/",
                "name": "FPT",
                "potentialAction": {
                        "@@type": "SearchAction",
                        "target": "https://fpt.com/search?q={search_term_string}",
                        "query-input": "required name=search_term_string"
                }
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.defer = true; j.src =
                    '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MVWJ9NV');</script>
    <!-- End Google Tag Manager -->

    <meta name='dmca-site-verification' content='bTFweGtQZSs1TWgvT015Yk1EUzRPQT090' />


    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "LocalBusiness",
        "name": "Tập đoàn FPT",
        "image": "~/Content/anh/fpt-logo.svg",
        "@@id": "https://fpt.com.vn/",
        "url": "https://fpt.com.vn/",
        "telephone": "+84 24 7300 7300",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "10 P. Phạm Văn Bạch, Dịch Vọng, Cầu Giấy",
        "addressLocality": "Hà Nội",
        "postalCode": "100000",
        "addressCountry": "VN"
        },
        "geo": {
        "@@type": "GeoCoordinates",
        "latitude": 21.026813,
        "longitude": 105.7886195
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
        ],
        "opens": "08:30",
        "closes": "18:00"
        },
        "sameAs": [
        "https://www.facebook.com/fptcorp/",
        "https://www.linkedin.com/company/fpt-corporation/",
        "https://www.youtube.com/c/FPTCorporation",
        "https://vi.wikipedia.org/wiki/Tập_đoàn_FPT",
        "https://www.google.com/search?q=search+query&amp;kponly=&amp;kgmid=/m%2F05c278h",
        "https://fptcorp.business.site/"
        ]
        }
    </script>

    <script type="application/ld+json">
         {
         "@@context":"https://schema.org",
         "@@graph":
        [

                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Trang Chủ",
                "url":"https://fpt.com"
                },


                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Về FPT",
                "url":"https://fpt.com/vi/ve-fpt"
                },
                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Hệ sinh th&#225;i FPT",
                "url":"https://fpt.com/vi/he-sinh-thai-fpt"
                },
                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Nh&#224; đầu tư",
                "url":"https://fpt.com/vi/nha-dau-tu"
                },
                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Tin tức",
                "url":"https://fpt.com/vi/tin-tuc"
                },
                {
                "@@context":"https://schema.org",
                "@@type":"SiteNavigationElement",
                "id":"site-navigation",
                "name":"Cơ hội nghề nghiệp",
                "url":"https://fpt.com/vi/co-hoi-nghe-nghiep"
                }
        ]}
    </script>

</head>


<body class="default-device bodyclass">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVWJ9NV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <style>
        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
        }

            .video-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #header -->
        <header>
            <div id="header" class="">

                <div class="component header fpt-header fpt-container fpt-container-full-width">
                    <div class="component header fpt-header-bottom container-grid-10 fpt-container">

                        <div class="component image file-type-icon-media-link logo-header">
                            <div class="component-content">

                                <a href="http://localhost:29496/Home" target="">
                                    <img class="lazyload" style="width: 120%;" data-src="Content/anh/fpt-logo.svg" alt="image">
                                </a>

                            </div>
                        </div>

                        <div class="component image file-type-icon-media-link logo-header">
                            <div class="component-content">
                            </div>
                        </div>

                        <!-- Taskbar -->
                        <div class="component in-homepage navigation in-header">
                            <div class="component-content">
                                <button class="fpt-toggle-menu-btn">
                                    <span class="toggle-line"></span>
                                </button>
                                <nav>
                                    <ul class="clearfix">
                                        <li class=" level1 submenu item0 odd first rel-level1">
                                            <div class="navigation-title field-navigationtitle">

                                                <a href="vi/ve-fpt.html" target="">Công Việc</a>

                                            </div><ul class="clearfix">
                                                <li class=" level2 item0 odd first rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/ve-fpt/thong-diep-chu-tich.html" target="">Triển Khai Mới</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item1 even rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/ve-fpt/thong-diep-tong-giam-doc.html" target="">Bảo Trì</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item1 even rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/ve-fpt/thong-diep-tong-giam-doc.html" target="">Swap Wifi 6</a>

                                                    </div>
                                                </li>

                                            </ul>

                                        </li>
                                        <li class=" level1 submenu item1 even rel-level1">
                                            <div class="navigation-title field-navigationtitle">

                                                <a href="vi/he-sinh-thai-fpt.html" target="">Quản Lý Thiết Bị</a>

                                            </div><ul class="clearfix">
                                                <li class=" level2 item0 odd first rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/he-sinh-thai-fpt/cong-nghe.html" target="">Xem Nợ Vật Tư</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item1 even rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/he-sinh-thai-fpt/vien-thong.html" target="">Quản Lý Vật Tư</a>

                                                    </div>
                                                </li>

                                            </ul>

                                        </li>
                                        <li class=" level1 submenu item2 odd rel-level1">
                                            <div class="navigation-title field-navigationtitle">

                                                <a href="vi/nha-dau-tu.html" target="">Tạo Đơn</a>

                                            </div><ul class="clearfix">
                                                <li class=" level2 item0 odd first rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/nha-dau-tu/dai-hoi-co-dong.html" target="">Đăng Ký Lịch Nghỉ</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item1 even rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/nha-dau-tu/thong-tin-cong-bo.html" target="">Xin Đi Trễ</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item2 odd rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/nha-dau-tu/bao-cao-thuong-nien.html" target="">B&#225;o c&#225;o</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item3 even rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/nha-dau-tu/thong-tin-co-phieu.html" target="">Th&#244;ng tin cổ phiếu</a>

                                                    </div>
                                                </li>
                                                <li class=" level2 item4 odd last rel-level2">
                                                    <div class="navigation-title field-navigationtitle">

                                                        <a href="vi/nha-dau-tu/quan-tri-cong-ty.html" target="">Quản trị c&#244;ng ty</a>

                                                    </div>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class=" level1 item3 even rel-level1">
                                            <div class="navigation-title field-navigationtitle">

                                                <a href="vi/tin-tuc.html" target="">Hỗ Trợ</a>

                                            </div>
                                        </li>
                                        <li class=" level1 item4 odd last rel-level1">
                                            <div class="navigation-title field-navigationtitle">

                                                <a href="vi/co-hoi-nghe-nghiep.html" target="">Thông Tin Cá Nhân</a>

                                            </div>
                                        </li>
                                    </ul>

                                </nav>
                            </div>
                        </div>

                        <div class="search-container" id="searchContainer">
                            <div class="search-box" id="searchBox">
                                <input type="text" class="search-input" id="searchInput" placeholder="Tìm kiếm..." />
                                <span class="search-icon" id="searchIcon">🔍</span>
                            </div>
                        </div>

                        <div class="login-button">
                            @if (Session["MaNhanVien"] == null)
                            {
                                <button id="login" onclick="handleLoginClick()">
                                    <img src="~/Content/anh/icon/user_login.png" alt="Đăng Nhập" title="Đăng Nhập">
                                </button>
                            }
                            else
                            {
                                <div class="profile" id="profile">
                                    <img src="~/Content/anh/img_avt/@Session["AvtNhanVien"]" alt="Profile" class="" id="profileImg" onclick="toggleDropdown()">

                                    <div class="dropdown" id="dropdownMenu" style="width:max-content">
                                        <div class="dropdown-content">
                                            <p id="employeeName">@Session["TenNhanVien"]</p>
                                            <a href="http://localhost:29496/NhanVien">HỒ SƠ</a>
                                            <a href="http://localhost:29496/login/DangXuat" onclick="logout()">ĐĂNG XUẤT</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <script src="~/Content/js/index_login.js"></script>
                    </div>
                </div>

              

                <!-- Slide-bar -->

            </div>
        </header>
        <!-- /#header -->
        <!-- #content -->
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
        <!-- #footer -->
        <footer>
            <div id="footer" class="">

                <div class="component fpt-container container-grid-10 p-t-40 p-t-40-mb">
                    <div class="component-content">



                        <div class="component fpt-container">
                            <div class="component-content">


                                <div class="row component column-splitter m-x-0-mb">
                                    <div class=" align-items-center col-lg-12 d-flex">




                                        <div class="component sitecore-form subscribe w-80">
                                            <div class="component-content">
                                                <form action="https://fpt.com/?sc_site=FPT" data-sc-fxb="f52dfe86-f3c5-4c9b-8ecb-130812a10966" enctype="multipart/form-data" id="fxb_2662dd95-652f-4402-9402-143e72b885b4_f52dfe86-f3c5-4c9b-8ecb-130812a10966" method="post">
                                                    <input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_FormSessionId" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.FormSessionId" type="hidden" value="91450724-d2c1-4cdd-8216-72627f04f1b2" /><input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_IsNewSession" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.IsNewSession" type="hidden" value="1" /><input name="__RequestVerificationToken" type="hidden" value="T6h0il2lkpZSPUzQOol38Y_-ek08BzwMFf41c_HEOsv3iylwSOjto79pnFlOkVyDr55y7eLevuD8wuitN36TTRnJKWR2lQm75sF3pkiIqDM1" /><input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_FormItemId" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.FormItemId" type="hidden" value="f52dfe86-f3c5-4c9b-8ecb-130812a10966" /><input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_PageItemId" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.PageItemId" type="hidden" value="fa7ef43b-0aba-451e-8fb7-e444c1f7ed96" />
                                                    <div data-sc-field-key="E9EDA44E31704F21AA2ABEAFCA726161" class="row m-x-0">
                                                        <div data-sc-field-key="EBC4513B41C243B2AE0EB688CBDB368A" class="subscribe-title col-sm-12 col-md-12 col-lg-4 col-xl-4 p-x-0">
                                                            <p data-sc-field-key="326800A613A2480ABFC32E41333A180E" class="text">
                                                                Đăng k&#253; v&#224; cập nhật
                                                            </p>
                                                        </div>
                                                        <div data-sc-field-key="F97ADD9D71614E8BB090DD3A0D623B1E" class="subscribe-input align-self-center col-sm-12 col-md-12 col-lg-8 col-xl-8 p-x-0">
                                                            <div data-sc-field-key="DB9AEED5ACF04B5A9CF724E7E2B219C7" class="subscribe-input-content d-flex">
                                                                <input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_Fields_Index_ebea5fae-443a-4856-8d6c-94f6e8fe8b69" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.Fields.Index" type="hidden" value="ebea5fae-443a-4856-8d6c-94f6e8fe8b69" /><input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_Fields_ebea5fae-443a-4856-8d6c-94f6e8fe8b69__ItemId" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.Fields[ebea5fae-443a-4856-8d6c-94f6e8fe8b69].ItemId" type="hidden" value="ebea5fae-443a-4856-8d6c-94f6e8fe8b69" /><label for="fxb_2662dd95-652f-4402-9402-143e72b885b4_Fields_ebea5fae-443a-4856-8d6c-94f6e8fe8b69__Value" class=""></label>
                                                                <input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_Fields_ebea5fae-443a-4856-8d6c-94f6e8fe8b69__Value" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.Fields[ebea5fae-443a-4856-8d6c-94f6e8fe8b69].Value" class="input-subscribe" type="email" value="" maxlength="255" placeholder="Email của bạn" data-sc-tracking="True" data-sc-field-name="Email" data-sc-field-key="67911527F4814FF588589E188ECD64B1" data-val-regex="Vui l&#242;ng nhập một địa chỉ email hợp lệ." data-val-regex-pattern="^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-length=" phải c&#243; &#237;t nhất 0 v&#224; kh&#244;ng nhiều hơn 255 k&#237; tự." data-val-length-max="255" data-val-required="Vui l&#242;ng nhập dữ liệu." data-val="true" />
                                                                <span class="field-validation-valid" data-valmsg-for="fxb.2662dd95-652f-4402-9402-143e72b885b4.Fields[ebea5fae-443a-4856-8d6c-94f6e8fe8b69].Value" data-valmsg-replace="true"></span>

                                                                <input value="Đăng k&#253;" type="submit" class="btn-subscribe" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.75848e7f-2583-4aae-aaa6-141fbfbf992c" data-sc-field-key="74B4A1DC1E704A9091F2C0B63B90A71C" />
                                                                <input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_NavigationButtons" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.NavigationButtons" type="hidden" value="75848e7f-2583-4aae-aaa6-141fbfbf992c" />
                                                                <input id="fxb_2662dd95-652f-4402-9402-143e72b885b4_75848e7f-2583-4aae-aaa6-141fbfbf992c" name="fxb.2662dd95-652f-4402-9402-143e72b885b4.75848e7f-2583-4aae-aaa6-141fbfbf992c" type="hidden" value="0" />
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <input type="hidden" data-sc-fxb-condition value='{}' />
                                                </form>

                                            </div>
                                        </div>

                                        <div class="component social-link d-lg-block d-none p-b-25 w-20">
                                            <div class="component-content">
                                                <p class="social-link-title" style="margin-top: 0;">Theo d&#245;i ch&#250;ng t&#244;i</p>
                                                <div class="social-link-image">

                                                    <i class="fab fa-facebook fa-2x"></i>

                                                    <i class="fab fa-linkedin fa-2x"></i>

                                                    <i class="fab fa-youtube fa-2x"></i>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class=" mobile-padding-x-20">

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="component fpt-container">
                            <div class="component-content">


                                <div class="row component column-splitter m-x-0-mb">
                                    <div class="col-xl-12">


                                        <div class="component navigation in-footer navigation-fat">
                                            <div class="component-content">
                                                <nav>
                                                    <ul class="clearfix">
                                                        <li class=" level1 submenu item0 odd first rel-level1">
                                                            <div class="navigation-title field-navigationtitle">

                                                                <a href="vi/ve-fpt.html">Về FPT</a>

                                                            </div><ul class="clearfix">
                                                                <li class=" level2 item0 odd first rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/thong-diep-chu-tich.html">Th&#244;ng điệp Chủ tịch HĐQT</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item1 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/thong-diep-tong-giam-doc.html">Th&#244;ng điệp Tổng gi&#225;m đốc</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item2 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/gia-tri-cot-loi.html">Gi&#225; trị cốt l&#245;i</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item3 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/lich-su.html">Lịch sử</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item4 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/tam-nhin-chien-luoc.html">Tầm nh&#236;n chiến lược</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item5 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/mang-luoi-hoat-dong.html">Mạng lưới hoạt động</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item6 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/doi-ngu-lanh-dao.html">Đội ngũ l&#227;nh đạo</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item7 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/trach-nhiem-xa-hoi.html">Tr&#225;ch nhiệm x&#227; hội</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item8 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/giai-thuong.html">Giải thưởng</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item9 even last rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/ve-fpt/doi-tac-va-khach-hang.html">Đối t&#225;c v&#224; kh&#225;ch h&#224;ng</a>

                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class=" level1 submenu item1 even rel-level1">
                                                            <div class="navigation-title field-navigationtitle">

                                                                <a href="vi/he-sinh-thai-fpt.html">Hệ sinh th&#225;i FPT</a>

                                                            </div><ul class="clearfix">
                                                                <li class=" level2 item0 odd first rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/he-sinh-thai-fpt/cong-nghe.html">C&#244;ng nghệ</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item1 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/he-sinh-thai-fpt/vien-thong.html">Viễn th&#244;ng</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item2 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/he-sinh-thai-fpt/giao-duc.html">Gi&#225;o  dục</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item3 even last rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/he-sinh-thai-fpt/cong-ty-thanh-vien.html">C&#244;ng ty th&#224;nh vi&#234;n</a>

                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class=" level1 submenu item2 odd rel-level1">
                                                            <div class="navigation-title field-navigationtitle">

                                                                <a href="vi/nha-dau-tu.html">Nh&#224; đầu tư</a>

                                                            </div><ul class="clearfix">
                                                                <li class=" level2 item0 odd first rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/nha-dau-tu/dai-hoi-co-dong.html">Đại hội đồng cổ đ&#244;ng</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item1 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/nha-dau-tu/thong-tin-cong-bo.html">C&#244;ng bố th&#244;ng tin</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item2 odd rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/nha-dau-tu/bao-cao-thuong-nien.html">B&#225;o c&#225;o</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item3 even rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/nha-dau-tu/thong-tin-co-phieu.html">Th&#244;ng tin cổ phiếu</a>

                                                                    </div>
                                                                </li>
                                                                <li class=" level2 item4 odd last rel-level2">
                                                                    <div class="navigation-title field-navigationtitle">

                                                                        <a href="vi/nha-dau-tu/quan-tri-cong-ty.html">Quản trị c&#244;ng ty</a>

                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li class=" level1 item3 even rel-level1">
                                                            <div class="navigation-title field-navigationtitle">

                                                                <a href="vi/tin-tuc.html">Thông Tin</a>

                                                            </div>
                                                        </li>
                                                        <li class=" level1 item4 odd last rel-level1">
                                                            <div class="navigation-title field-navigationtitle">

                                                                <a href="vi/co-hoi-nghe-nghiep.html">Cơ hội nghề nghiệp</a>

                                                            </div>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="component fpt-container m-t-40-mb m-t-60 fpt-border-gray-top">
                            <div class="component-content">


                                <div class="row component column-splitter m-x-0-mb">
                                    <div class="col-sm-12 col-md-12 col-xl-4">


                                        <div class="component rich-text future-direction-top m-t-60 richtext-footer-left with-title">
                                            <div class="component-content">
                                                <div class="d-flex">
                                                    <div class="richtext-footer-left-content" style="padding:25px 0;">
                                                        Copyright &copy; by Tran Quang Huy
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /#footer -->
    </div>
    <!-- /#wrapper -->


    <script type="text/javascript">
        var lang = 'vi-VN';
        var script = document.createElement("script");
        if (lang == 'vi-VN') {
            script.src = "sitecore%20modules/Web/ExperienceForms/scripts/localization/messages_vi.js";
            $("head").append(script);
        }
    </script>

    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/echartmin-theme/scripts/echartsmin.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/echartmin-theme/scripts/shareholding-chart.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/echartmin-theme/scripts/stock-quote.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/echartmin-theme/scripts/stock-chart.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/echartmin-theme/scripts/z-default-passive.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/fptweb-base/scripts/d3v7min.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/fptweb-base/scripts/lazyload.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/fptweb-base/scripts/toc-lib-min.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/slickmin.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/component-banner-slider-offer2.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/component-strategic-partners-brand.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/component-strategic-partners-slider.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/component-strategic-partners-video.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/component-tabs.js"></script>
    <script defer src="Content/-/media/themes/fpt-corporation/fpt/component-themes/slick-theme/scripts/milestones-container.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8cf6f9ba08cb87c6","version":"2024.8.0","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}},"token":"131e4b1342514a4ebd7d6d64ee2af1c5","b":1}' crossorigin="anonymous"></script>
</body>
</html>

